---
layout: page
title: Careers
heading: We are Hiring!
subtitle: See below open positions at Aksharainfotex
---

<section class="diagonal patterned">
	<div class="container">
	    <p class="editor-link" style="text-align: center;"><a href="cloudcannon:collections/_clients/" class="btn"><strong>&#9998;</strong> Manage Clients</a></p>

		<ul class="image-grid">
			{% for jobs in site.jobs %}
			
				<li>
					<a href="/clients/AutomatedTestingServices/">
						<img src="/images/clients/edition.png" alt="">
						<div class="details">
							<div class="name">Automated Testing Services</div>
							<div class="position">In what cases are Automated Testing services considered to be suitable?</div>
						</div>
					</a>
				</li>
			{% endfor %}
			<li class="filler"></li>
			<li class="filler"></li>
		</ul>
	</div>
</section>





















<!-- <section class="diagonal">
	<div class="text-container">
	     <p class="editor-link"><a href="cloudcannon:collections/jobs" class="btn"><strong>&#9998;</strong> Add Post</a></p> 
		<ul class="jobs">
			{% include list-posts.html jobs=paginator.jobs %}
		</ul>
	</div>
</section> -->