---
title: About
heading: About Aksharainfotex
subtitle: With 12+ years of industry experience,we tackle today's testing challenge and deliver tomorrow's quality solutions.We partner with clients to develop high quality, flexible, cost-effective and high-performance software. We're a growing team of people who are passionate about testing software.
---

<!-- <section class="diagonal patterned">
	<div class="container">
	    <p class="editor-link" style="text-align: center;"><a href="cloudcannon:collections/_staff_members/" class="btn"><strong>&#9998;</strong>Manage Staff members</a></p>
		<!-- <ul class="image-grid">
			{% for member in site.staff_members %}
				<li>{% include staff-member.html member=member %}</li>
			{% endfor %}
		</ul> -->
	</div>
</section> 
